{% extends 'base.html' %}

{% block header %}
<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="fw-bold">{% block title %}Latest Posts...{% endblock %}</h1>
    {% if g.user %}
      <a class="btn btn-primary" href="{{ url_for('blog.create') }}">New</a>
    {% endif %}
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-3">
  {% for listing, posts in grouped_posts.items() %}
    <section class="mb-5">
      <h2 class="mb-3">{{ posts[0].parsed_address|safe }}</h2>
      {% for post in posts %}
        <div class="card mb-3">
          <div class="card-body">
            <!-- Voting buttons -->
            <div class="d-flex align-items-center mb-3">
              <form action="{{ url_for('blog.vote') }}" method="post" class="me-2">
                <input type="hidden" name="post_id" value="{{ post['id'] }}">
                <button type="submit" name="vote_type" value="1" class="btn btn-outline-success btn-sm">&#x25B2; </button>
              </form>
              <form action="{{ url_for('blog.vote') }}" method="post" class="me-2">
                <input type="hidden" name="post_id" value="{{ post['id'] }}">
                <button type="submit" name="vote_type" value="-1" class="btn btn-outline-danger btn-sm">&#x25BC; </button>
              </form>
            </div>
            <h3 class="card-title smaller-size">{{ post['title'] }}</h3>
            <h6 class="card-subtitle mb-2 text-muted h6-reduce">
              <em>by {{ post['username'] }} on {{ post['created'].strftime('%m/%d/%Y') }}</em>
            </h6>
            <p class="card-text">{{ post['body'] }}</p>
            {% if g.user['id'] == post['author_id'] %}
              <a class="btn btn-outline-secondary btn-sm" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </section>
  {% endfor %}
</div>
{% endblock %}

