<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - Comment on Houses</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Bundle JS (includes Popper for dropdowns, modals, etc.) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Custom CSS - used for background, amongst other things-->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-primary">
      <div class="container">
          <a class="navbar-brand" href="#">Comment on Houses</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.search') }}">Search Listings</a></li>
                <li class="nav-item"><a class="nav-link" href="{{ url_for('blog.index') }}">All Listings</a></li>
                {% if g.user %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.register') }}">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a></li>
                {% endif %}
              </ul>
          </div>
      </div>
    </nav>

    <main class="container my-5 rounded shadow-sm">
        <header>
            {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <section>
        {% block content %}{% endblock %}
        </section>
    </main>

    <footer class="container text-center mt-4 py-2">
        <p class="text-muted">&copy; {{ current_year }} Comment on Houses</p> <!-- Dynamic year -->
    </footer>

    <!-- JavaScript for the upvote/ downvote buttons - always put JS after HTML so HTML is loaded first! -->
    <script>
        document.addEventListener('click', function (e) {
            if (e.target.classList.contains('btn')) {
            e.target.classList.toggle('clicked');
            }
        });
        </script>
</body>
</html>
